@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');

.box{
    width: 100px;
    height: 100px;
    background: #f4ce54;
    margin: 40px;
    display: inline-block;
    text-align: center;
}

.box1{
    background: #505bad;
}

.box2{
    background: #f4cbad;
}